node_modules
out/test
src
*.vsix
.vscode-test/
tsconfig.json
npm-shrinkwrap.json
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/.vscode-test/**
**/*.map
**/*.ts
!out/extension.js.map
.gitattributes
.github
.vscodeignore
webpack.config.js
